<!-- page header -->
<section class="page-header">
  <a href="index.html"><img src="img/pagoda_logo_big_white.png" width=100px/></a>
  <h1 class="project-name">CountClust</h1>
  <h2 class="project-tagline">
    Fits grade of membership models (GoM, also known as admixture models) to cluster RNA-seq gene expression count data, identifies characteristic genes driving cluster memberships, and provides a visual summary of the cluster memberships.
  </h2>
  <a href="index.html" class="btn">Home</a>
  <a href="package.html" class="btn">Package</a>
  <a href="https://github.com/kkdey/CountClust" class="btn">View on GitHub</a>
  <a href="http://stephenslab.uchicago.edu" class="btn">Stephens Lab</a>
</section>
<!-- end page header -->

